doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        block header        
        header
            h1=pageTitle
            block header2                     
        main            
            block content 
    include partials/footer