doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        block header        
        header
            h1=pageTitle
            nav
                ul
                    li 
                        a(href="/") &larr; Home 
                    li 
                        a(href="/videos/upload") upload video &uarr;            
                    li
                        a(href="/search") Search
                        
            block header2                     
        main            
            block content 
    include partials/footer