extends base
include mixins/video
block header 
    if fakeUser.loggedIn
        small Hello #{fakeUser.username}
    else 
        small Hello
    ul
        if fakeUser.loggedIn
            li 
                a(href="/logout") Log out
        else
            li 
                a(href="/login") Login
block header2
  
block content 
    
    each banana in videos
        +mixinVideo(banana)
    else 
        li sorry video is not found